{% macro action_filter(caller_content='') %}
<div class="painel-filtros" style="max-height:calc(100vh - 300px);overflow-y:auto;">
  <div class="px-2">
    <div id="page-filter-body"></div>
    <div class="d-flex gap-2 mt-3 bg-white p-2 border-top" id="page-filter-actions" style="display:none!important;">
      <button class="btn btn-primary flex-fill" id="page-filter-apply">Aplicar</button>
      <button class="btn btn-outline-secondary flex-fill" id="page-filter-clear">Limpar</button>
    </div>
    {{ caller_content }}
  </div>
</div>
{% endmacro %}
