{% extends "components/page_sys.html" %}
{% from "components/page_list.html" import page_list %}
{% from "components/table_list.html" import table_list %}

{% macro edit_url(item) %}{{ url_for('ingredients.edit', id=item.id) }}{% endmacro %}

{% block page_content %}
{% call(section) page_list(title="Insumos", new_url=url_for('ingredients.new')) %}
  {% if section == "dados" %}
      {{ table_list(ingredients, fields=fields, ctx=ctx, edit_url=edit_url) }}
  {% elif section == "filtros" %}
  {% endif %}
{% endcall %}
{% endblock %}