{% extends "components/page_sys.html" %}
{% from "components/page_list.html" import page_list %}
{% from "components/table_list.html" import table_list %}

{% macro edit_url(item) %}{{ url_for('compras.edit', id=item.compra.id) if item.compra else '' }}{% endmacro %}

{% block page_content %}
{% call(section) page_list(title="Compras", new_url=url_for('compras.new')) %}
  {% if section == "dados" %}
      {{ table_list(linhas, fields=fields, ctx=ctx, edit_url=edit_url) }}
  {% elif section == "filtros" %}
  {% endif %}
{% endcall %}
{% endblock %}
