{% extends "components/page_sys.html" %}
{% from "components/macros.html" import action_list, action_table %}

{% block page_content %}
{% call(section) action_list(title=tipo_nome_plural, new_url=url_for('movimentos.recebimentos_new' if tipo == 'E' else 'movimentos.pagamentos_new'), active_filters=active_filters, filters=FILTERS, ctx=ctx) %}
  {% if section == "dados" %}
      {{ action_table(movtos, fields=fields, ctx=ctx, edit_endpoint_map={'E': 'movimentos.recebimentos_edit', 'S': 'movimentos.pagamentos_edit'}, edit_endpoint_key=tipo) }}
  {% elif section == "filtros" %}
  {% endif %}
{% endcall %}
{% endblock %}
