{% extends "components/page_sys.html" %}
{% from "components/action_list.html" import action_list %}
{% from "components/action_table.html" import action_table %}

{% set validar_btn %}
<a href="{{ url_for('orcamentos.validar') }}" class="btn btn-sm btn-validar text-nowrap">Validar</a>
{% endset %}

{% block page_content %}
{% call(section) action_list(title="Orçamentos", new_url=url_for('orcamentos.new'), extra_actions=validar_btn) %}
  {% if section == "dados" %}
      {{ action_table(orders, fields=fields, ctx=ctx, edit_endpoint='orcamentos.edit') }}
  {% elif section == "filtros" %}
  {% endif %}
{% endcall %}
{% endblock %}
