{% extends "components/page_sys.html" %}
{% from "components/macros.html" import action_list, action_table %}

{% set validar_btn %}
<a href="{{ url_for('orcamentos.validar') }}" class="btn btn-sm btn-validar text-nowrap">Validar</a>
{% endset %}

{% block page_content %}
{% call(section) action_list(title="Orçamentos", new_url=url_for('orcamentos.new'), extra_actions=validar_btn, active_filters=active_filters, filters=FILTERS, ctx=ctx) %}
  {% if section == "dados" %}
      {{ action_table(orders, table=QUOTES_TABLE, ctx=ctx) }}
  {% elif section == "filtros" %}
  {% endif %}
{% endcall %}
{% endblock %}
