{% extends "components/page_sys.html" %}
{% from "components/page_list.html" import page_list %}
{% from "components/table_list.html" import table_list %}

{% macro edit_url(item) %}{{ url_for('orcamentos.edit', id=item.id) }}{% endmacro %}

{% set validar_btn %}
<a href="{{ url_for('orcamentos.validar') }}" class="btn btn-sm btn-validar text-nowrap">Validar</a>
{% endset %}

{% block page_content %}
{% call(section) page_list(title="Orçamentos", new_url=url_for('orcamentos.new'), extra_actions=validar_btn) %}
  {% if section == "dados" %}
      {{ table_list(orders, fields=fields, ctx=ctx, edit_url=edit_url) }}
  {% elif section == "filtros" %}
  {% endif %}
{% endcall %}
{% endblock %}
