{% extends "page_sistema.html" %}
{% from "components/page_list.html" import page_list %}
{% from "components/table_list.html" import table_list %}

{% macro edit_url(item) %}{{ url_for('carteira.edit', id=item.id) }}{% endmacro %}

{% block page_content %}
{% call(section) page_list(title="Carteiras", new_url=url_for('carteira.new')) %}
  {% if section == "dados" %}
    {% call(item) table_list(carteiras, fields=fields, ctx=ctx, edit_url=edit_url) %}
      <td>{{ item.id|fmtid }}</td>
      <td>{{ item.nome }}</td>
      <td>{{ {0: "Pedido", 1: "Ambos", 2: "Compra"}.get(item.uso, item.uso) }}</td>
      <td>{{ {0: "Movimento", 1: "Previsão"}.get(item.gerar, item.gerar) }}</td>
      <td>{{ item.prazo_recebimento or '-' }}</td>
      <td>{{ (item.taxa_recebimento or 0)|brl }}%</td>
    {% endcall %}
  {% elif section == "filtros" %}
  {% endif %}
{% endcall %}
{% endblock %}
