{% extends "components/page_sys.html" %}

{% block page_content %}
<div class="grow flex flex-col min-h-0{% block page_container_class %}{% endblock %}"
     style="{% block page_container_style %}{% endblock %}"
     {% block layout_attrs %}{% endblock %}>
  {% block page_layout_header %}{% endblock %}
  <div class="grow overflow-auto min-h-0" style="position:relative;">
    {% block page_layout_body %}{% endblock %}
  </div>
  {% block page_layout_footer %}{% endblock %}
</div>
{% endblock %}
