{% extends "components/page_sys.html" %}
{% from "components/macros.html" import action_page, action_list %}

{% block page_content %}
{% call(section) action_page(
    title=title,
    new_url=new_url,
    active_filters=active_filters,
    filters=FILTERS,
    ctx=ctx
) %}
  {% if section == "dados" %}
    <div hx-target="this" hx-swap="outerHTML">
      {{ action_list(data, table=LIST, ctx=ctx, detail_fields=detail_fields, detail_data=detail_data) }}
    </div>
  {% endif %}
{% endcall %}
{% endblock %}
