{% extends "components/page_sys.html" %}
{% from "components/macros.html" import action_page, action_list %}

{% block page_content %}
{% call(section) action_page(title=tipo_nome_plural ~ " Financeiro", new_url=url_for('transacao.pagar_new' if tipo in ('P','C') else 'transacao.receber_new'), active_filters=active_filters, filters=FILTERS, ctx=ctx) %}
  {% if section == "dados" %}
      {{ action_list(previsoes, table=TRANSACAO_LIST, ctx=ctx) }}
  {% elif section == "filtros" %}
  {% endif %}
{% endcall %}
{% endblock %}
