{% extends "components/page_system.html" %}
{% from "components/page_list.html" import page_list %}
{% from "components/table_list.html" import table_list %}

{% macro edit_url(item) %}{{ url_for('rubricas.edit', id=item.rubrica.id) }}{% endmacro %}

{% block page_content %}
{% call(section) page_list(title="Rubricas", new_url=url_for('rubricas.new')) %}
  {% if section == "dados" %}
      {{ table_list(rubricas, fields=fields, ctx=ctx, edit_url=edit_url) }}
  {% elif section == "filtros" %}
  {% endif %}
{% endcall %}
{% endblock %}
