{% extends "components/page_sys.html" %}
{% from "components/action_list.html" import action_list %}
{% from "components/action_table.html" import action_table %}

{% block page_content %}
{% call(section) action_list(title="Contas a Receber", new_url=url_for('a_receber.new')) %}
  {% if section == "dados" %}
      {{ action_table(previsoes, fields=fields, ctx=ctx, edit_endpoint='a_receber.edit', edit_id_field='transacao.id') }}
  {% elif section == "filtros" %}
  {% endif %}
{% endcall %}
{% endblock %}
